@use '../settings/mixins' as *;
@use '../settings/breakpoints' as *;

// デバッグ
* {
  @container style(--debug: true) {
    outline: 1px solid tomato;
  }
}
.debugResizeX {
  @container style(--debug: true) {
    overflow-x: auto;
    resize: inline;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow: hidden scroll;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: 100%;
  font-family: 'Shippori Mincho', 'Sorts Mill Goudy', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
    'Yu Gothic', 'Yu Gothic UI', 'Meiryo', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--font-color);
}

img {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
small,
strong,
span {
  line-height: 1.6;
  letter-spacing: 0.1em;
  font-size: 16px;
  color: var(--font-color);
}

.isMobile {
  display: none !important;
  @include mq-down(md) {
    display: block !important;
  }
}

.isDesktop {
  display: block !important;
  @include mq-down(md) {
    display: none !important;
  }
}

.isMobileFlex {
  display: none !important;
  @include mq-down(md) {
    display: flex !important;
  }
}
.isDesktopFlex {
  display: flex !important;
  @include mq-down(md) {
    display: none !important;
  }
}
