// Css Easing list
$easing-linear: cubic-bezier(0.0, 0.0, 1.0, 1.0);

// Sine（最も弱い）
$easing-easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easing-easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easing-easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

// Quad（弱め。Sineより強く、Cubicより弱い）
$easing-easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easing-easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easing-easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

// Cubic（Quadより強く、Quartより弱い）
$easing-easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easing-easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easing-easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);

// Quart（Cubicより強く、Quintより弱い）
$easing-easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easing-easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easing-easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

// Quint（Quartより強く、Expoより弱い）
$easing-easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easing-easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easing-easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

// Expo（最も強い）
$easing-easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easing-easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easing-easeInOutExpo: cubic-bezier(1, 0, 0, 1);

// Circ（Expoのような強さを持つが、加速や減速の時間がよりゆるやか。）
$easing-easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easing-easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easing-easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);

// Back（少し行き過ぎてから戻ってくるような動き）
$easing-easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easing-easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easing-easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

