@use '../settings/index' as *;

.footer {
  position: relative;
  padding-block: 100px;
  background: #e4f1f5;
  @include mq-down(md) {
    padding-block: 75px;
  }
  .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 90px;
    max-width: calc(var(--window-width-medium) + var(--inner-padding-inline) * 2);
    padding-bottom: 150px;
    @include mq-down(md) {
      flex-direction: column;
      column-gap: 0;
      max-width: none;
    }
    > div:not(.footerInfo) {
      flex-shrink: 0;
    }
  }
  .footerInfo {
    flex-shrink: 1;
    min-width: 0;
  }
  .footerTitle {
    line-height: lh(44, 24);
    letter-spacing: 0.1em;
    font-size: 22px;
    font-weight: 600;
    color: var(--primary-color);
    @include mq-down(md) {
      line-height: lh(39, 19);
      font-size: 19px;
    }
  }
  .footerSnsList {
    display: flex;
    column-gap: 10px;
    margin-top: 30px;
    @include mq-down(md) {
      margin-top: 40px;
    }
  }
  .footerSnsItem {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: white;
      border-radius: 50%;
    }
    img {
      aspect-ratio: 1 / 1;
      width: 50%;
      height: auto;
    }
  }
  .footerCopyright {
    margin-top: 40px;
    @include mq-down(md) {
      margin-top: 30px;
    }
    small {
      letter-spacing: 0.1em;
      font-size: 10px;
    }
  }
  .footerNav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 60px;
    @include mq-down(md) {
      margin-top: 50px;
      column-gap: 0;
      row-gap: 30px;
      width: 100%;
    }
  }
  .footerNavList {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    @include mq-down(md) {
      row-gap: 10px;
    }
  }
  .footerNavItem {
    a {
      position: relative;
      margin-left: 17px;
      letter-spacing: 0.1em;
      font-size: 16px;
      font-weight: 600;
      @include mq-down(md) {
        margin-left: 12px;
        font-size: 14px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -17px;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        background: #ee8418;
        border-radius: 50%;
        @include mq-down(md) {
          left: -12px;
          width: 6px;
          height: 6px;
        }
      }
    }
  }
  .footerNavSubItem {
    a {
      letter-spacing: 0.1em;
      font-size: 14px;
      font-weight: 400;
      @include mq-down(md) {
        font-size: 12px;
      }
      &::before {
        content: none;
      }
    }
  }
  .footerInfo {
    @include mq-down(md) {
      margin-top: 60px;
    }
  }
  .footerLogo {
    @include mq-down(md) {
      width: 190px;
      height: auto;
    }
  }
  .phone {
    margin-top: 25px;
    @include mq-down(md) {
      margin-top: 40px;
    }
  }
  .footerTextPrimary {
    margin-top: 5px;
    letter-spacing: 0.1em;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
    @include mq-down(md) {
      margin-top: 0;
      font-size: 12px;
    }
    span {
      letter-spacing: 0.1em;
      font-size: 14px;
      font-weight: 600;
      color: var(--primary-color);
      @include mq-down(md) {
        font-size: 12px;
      }
    }
    &:first-of-type {
      margin-top: 20px;
      @include mq-down(md) {
        margin-top: 10px;
      }
    }
  }
  .footerText {
    margin-top: 5px;
    letter-spacing: 0.1em;
    font-size: 14px;
    font-weight: 400;
    @include mq-down(md) {
      margin-top: 0;
      font-size: 12px;
    }
  }
  .goTop {
    position: absolute;
    bottom: 0;
    right: var(--inner-padding-inline);
    @include mq-down(md) {
      right: calc(var(--base-padding-inline) * 5);
    }
    a {
      writing-mode: vertical-rl;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.1em;
      font-size: 14px;
      color: var(--primary-color);
      @include mq-down(md) {
        font-size: 11px;
      }
      svg {
        @include mq-down(md) {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .footerIllust {
    padding-inline: 65px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include mq-down(md) {
      padding-inline: calc(var(--base-padding-inline) * 2);
    }
  }
}
