@use '../settings/index' as *;

.fixedMenu {
  position: fixed;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  @include mq-down(md) {
    display: flex;
    align-items: stretch;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    width: 100%;
  }
}
.fixedMenuButton {
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding-block: 8px;
    padding-inline: 12px;
    border-radius: 10px 0 0 10px;
    @include mq-down(md) {
      flex-direction: row;
      column-gap: 5px;
      row-gap: 0;
      height: 100%;
      padding-inline: 0;
      border-radius: 0;
    }
    span {
      text-align: center;
      line-height: lh(20, 15);
      letter-spacing: 0.15em;
      font-size: 15px;
      font-weight: 600;
      color: white;
    }
  }
  &:not(:first-child) {
    margin-top: 10px;
    @include mq-down(md) {
      margin-top: 0;
    }
  }
  &:first-child {
    @include mq-down(md) {
      width: 40%;
    }
    a {
      background: var(--secondary-color);
      img {
        @include mq-down(md) {
          width: 19px;
          height: auto;
        }
      }
      span {
        @include mq-down(md) {
          font-size: 16px;
        }
      }
    }
  }
  &:nth-child(2) {
    @include mq-down(md) {
      width: 40%;
    }
    a {
      background: var(--primary-color);
      img {
        @include mq-down(md) {
          width: 20px;
          height: auto;
        }
      }
      span {
        @include mq-down(md) {
          font-size: 16px;
        }
      }
    }
  }
  &:last-child {
    @include mq-down(md) {
      width: 20%;
    }
    a {
      color: var(--primary-color);
      background: white;
      @include mq-down(md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5px;
      }
      img {
        @include mq-down(md) {
          width: 18px;
          height: auto;
        }
      }
      span {
        color: var(--primary-color);
        @include mq-down(md) {
          font-size: 11px;
        }
      }
    }
  }
}

.header {
  position: relative;
  z-index: 1;
  background: #f2f5f6;
  height: var(--header-height);
  .headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
  }
  .headerLogoArea {
    position: relative;
    display: flex;
    align-items: center;
    width: 405px;
    height: 160px;
    @include mq-down(md) {
      width: 188px;
      height: 80px;
    }
  }
  .headerLogoBg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .headerLogo {
    position: relative;
    z-index: 1;
    padding-left: 50px;
    @include mq-down(md) {
      padding-left: 20px;
    }
    img {
      width: 257px;
      height: auto;
      transform: translateY(-10px);
      @include mq-down(md) {
        width: 129px;
        height: auto;
        transform: translateY(-5px);
      }
    }
  }
  .headerInfoArea {
    display: flex;
    align-items: center;
    @include mq-down(md) {
      display: none;
    }
  }
  .headerNav {
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px dashed var(--primary-color-transparency);
  }
  .headerNavList {
    display: flex;
    column-gap: 30px;
    &:last-child {
      margin-top: 15px;
    }
  }
  .headerNavItem {
    a {
      letter-spacing: 0.1em;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .headerTime {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 20px;
  }
  .headerTimeText {
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-color);
  }
}
