@use '../settings/index' as *;

.textButton {
  width: fit-content;
  height: fit-content;
  a {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 14px;
    line-height: 1;
    letter-spacing: 0.1em;
    font-size: 18px;
    background: white;
    border-radius: 27.5px;
    @include mq-down(md) {
      column-gap: 10px;
      font-size: 13px;
    }
    svg {
      aspect-ratio: 1 / 1;
      width: 30px;
      @include mq-down(md) {
        width: 20px;
      }
    }
  }
}

.button {
  a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 14px;
    width: 260px;
    height: 70px;
    line-height: 1;
    letter-spacing: 0.1em;
    font-size: 18px;
    color: white;
    background: var(--primary-color);
    border-radius: 35px;
    @include mq-down(md) {
      width: 175px;
      height: 50px;
      font-size: 13px;
    }
    svg {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      aspect-ratio: 1 / 1;
      width: 30px;
      @include mq-down(md) {
        right: 15px;
        width: 20px;
      }
    }
  }
}
