@use '../settings/index' as *;

.button {
  width: fit-content;
  height: fit-content;
  a {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 14px;
    line-height: 1;
    letter-spacing: 0.1em;
    font-size: 18px;
    background: white;
    border-radius: 27.5px;
    svg {
      aspect-ratio: 1 / 1;
      width: 30px;
    }
  }
}
