@use '../settings/index' as *;

.inner {
  max-width: calc(var(--window-width-large) + var(--inner-padding-inline) * 2);
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--inner-padding-inline);
  @include mq-down(md) {
    max-width: none;
    padding-inline: calc(var(--base-padding-inline) * 3);
  }
}
