@use '../settings/index' as *;

.phone {
  display: flex;
  column-gap: 20px;
  align-items: baseline;
  @include mq-down(md) {
    column-gap: 10px;
  }
}
.phoneText {
  line-height: 1;
  letter-spacing: 0.1em;
  font-size: 15px;
  font-weight: 600;
  color: var(--primary-color);
  @include mq-down(md) {
    font-size: 13px;
  }
}
.phoneNumber {
  position: relative;
  display: flex;
  align-items: flex-end;
  column-gap: 4px;
  line-height: 1;
  letter-spacing: 0.05em;
  font-size: 26px;
  font-weight: 600;
  color: var(--primary-color);
  @include mq-down(md) {
    column-gap: 3px;
    font-size: 26px;
  }
  img {
    aspect-ratio: 1 / 1;
    width: 20px;
    @include mq-down(md) {
      width: 17px;
      transform: translateY(-2px);
    }
  }
  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    background: rgba(11, 158, 206, 0.1);
    @include mq-down(md) {
      bottom: 0;
      height: 8px;
    }
  }
}
