.phone {
  display: flex;
  column-gap: 20px;
  align-items: baseline;
}
.phoneText {
  line-height: 1;
  letter-spacing: 0.1em;
  font-size: 15px;
  font-weight: 600;
  color: var(--primary-color);
}
.phoneNumber {
  position: relative;
  display: flex;
  align-items: flex-end;
  column-gap: 4px;
  line-height: 1;
  letter-spacing: 0.05em;
  font-size: 26px;
  font-weight: 600;
  color: var(--primary-color);
  img {
    aspect-ratio: 1 / 1;
    width: 20px;
  }
  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    background: rgba(11, 158, 206, 0.1);
  }
}
